.itemContainer {
    background-color: #1b98f5;
    min-width: 300px;
    color: black;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 4px grey;

}

.eventsContainer {
    display: flex;
    overflow-x: scroll;
}

.eventsContainer::-webkit-scrollbar {
    display: none;
}

/* Scroll buttons */
#scrollRight {
    background-color: #1b98f511;
    margin-left: 5px;
    border-radius: 10px;
    border-color: #1b98f5;
}

#scrollLeft {
    background-color: #1b98f511;
    margin-right: 5px;
    border-radius: 10px;
    border-color: #1b98f5;

}

.parentContainer {
    display: flex;
    justify-content: space-between;
}

/* Arrows for the scroll buttons */
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    border-color: #1b98f5;
}

.left {
    transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg)
}

.sortSelector {
    background-color: lightblue;
}

.showMoreButton {
    background-color: lightblue;
    border: none;
    margin-top: auto;
    width: 90%;
    border-radius: 100px;
}

.timeline {
    padding: 10px 5px 10px 5px;
    border-radius: 1rem;
    background: #1b98f511;
    border: 3px dotted #1b98f5;
    font-family: Nunito, sans-serif;
    color: #1b98f5;
    text-align: center;
    max-height: 300px;
}

/* For Ipads etc, affects phones aswell */
@media (max-width:1200px) {

    /* Hide the buttons, not usefull when you can drag with your finger */
    .scrollButton {
        display: none;
    }

    .timeline {
        padding: 5px 0 5px 0
    }

    .itemHeader {
        font-size: medium;
    }

    .itemP {
        font-size: smaller;
    }

    .itemContainer {
        min-width: 200px;
    }

}

/* For phones */
@media (max-width: 500px) {
    .itemContainer {
        min-width: 100px;

    }
}